<div class="container ">
    <form action="/login" method="post" id="login-form" onsubmit="return formSubmit(event)" class="align-items-center">
        <!-- Email input -->
        <div class="form-outline mb-4 user-not-found-message">
            {{#if error}}
            <div class="alert d-flex justify-content-between alert-danger" role="alert">{{error}}
                <div class='text-dark' onclick="closeErrorNotification()" style="cursor:pointer">X</div>
            </div>
            {{/if}}
        </div>
        <div class="form-outline mb-4">
            <input type="name" id="name" class="form-control" name="name" />
            <label class="form-label" for="name">name</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control" name="password" />
            <label class="form-label" for="password">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
        </div>
    </form>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="/javascripts/loginValidation.js"></script>
</div>